.place-details-container {
  text-align: center;
  padding: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 80px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
}

.places-list {
  margin-top: 20px;
}

.place-card {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place-address {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  color: white;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
